
body{
    /*color: #fff;*/
    font-family: Areial;
    text-align: center;
    background: #CEE5D0;
    /*background-image: url("../img/background.jpg");*/
    }

#content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 10px;
    max-width: 90%;
    margin: 0 auto;
    }

#content > *{
    /*background: #3bbced;*/
    padding: 5px;
    }

header{
  grid-column:1/2;
}

main{
  grid-column:1/2;
}

section{
  font-family: Areial;
  font-size: 23px;
  /*text-align: justify;*/
  grid-column:2/3;
  grid-row:1/4;
  border: 1px solid #2f4353;
  color: #2F3C7E;
  background-color: #F3F0D7;
  position: relative;
 /* background-color: #2f4353;
background-image: linear-gradient(315deg, #2f4353 0%, #d2ccc4 74%);*/

}

header h1{
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 50px;
  margin: 5px;
  letter-spacing: 3px;
}


#article{
  text-align: left;
  padding: 10px;
  margin: 20px;
  /*font-size: 25px;*/
  border: 1px;
  color: #161E54;
  /*color: #2F3C7E;*/
}

#article h2 {
  text-align: center;
  margin: 5px;
  /*margin-top: 3px;*/
}

section h2{
  margin-top: 3px;
}

#gridRule{
    font-size: 15px;
    font-style: italic;
    font-weight: bold;
}

#article ol li{
  line-height: 1.4;
  font-weight: bolder;
}
